nav {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 15px;
    width: 100vw;
}

nav .menu{
    width: 30px;
}

nav ul{
    width: 800px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    font-size: 18px;
}

nav ul li:nth-child(3){
    font-family: "Supremes";
    font-size: 32px;

}

nav ul li:hover{
    transform: translateY(-3px);
    transition: all 0.2s;
}

header{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header .logo-slogan{
    width: 600px;
}

.arrow{
    width: 30px;
    margin-top: 40px;
}

.arrow:hover{
    transform: translateY(-3px);
    transition: all 0.2s;
}

footer{
    width: 100vw;
    bottom: 0;
    position: absolute;
    z-index: 1;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

footer ul li{
    margin-right: 10px;
}

