*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
}

input, select{
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance: none;
}

html, body, #root {
  width: 100%;
  height: auto;
}

@font-face{
  font-family: "Supremes";
  src: url('./fonts/Supremes-Regular.ttf') format('truetype');
}

@font-face{
  font-family: "Lemon";
  src: url('./fonts/LemonMilk.ttf') format('truetype');
}

@font-face{
  font-family: "Lemon Light";
  src: url('./fonts/LemonMilklight.ttf') format('truetype');
}

body{
  background: white;
  font-family: "Lemon Light";
  text-transform: uppercase;
}

a{
  color: black;
}
